checker_Mac
checker_linux
push_swap
./push_swap_visualizer
./libft
./2nd_impl/libft
.*.swp
*.pdf
.vscode/
*~
.*~
tester-mac/
debug

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
2nd_impl/tester_linux/output_info.c
2nd_impl/tester_linux/output.txt
tester_linux/output_info.c
tester_linux/tester.sh
2nd_impl/tester_linux/tester.sh
